<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/creatures/new.css" />
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1>Edit <%= creature.name %></h1>
    <table>
      <form action="/creatures/<%= creature.id %>?_method=PUT" method="POST">
        <tr>
          <td><label for="name"><h2><%= creature.name %>'s name: </h2></td>
            <td><input type="text" name="name" value="<%= creature.name %>" autocomplete="off" maxlength="20"></td>
          </label>
        </tr>
        <tr>
          <td><label for="sciName"><h2><%= creature.name %>'s sci name: </h2></td>
            <td><input type="text" name="sciName" value="<%= creature.sciName %>" autocomplete="off" maxlength="20"></td>
          </label>
        </tr>
        <tr>
          <td><label for="animalClass"><h2><%= creature.name %>'s class? </h2></td>
            <td><select name="animalClass">
              <option <%= creature.animalClass === "Mammal" ? "selected" : "" %> value="Mammal">Mammal</option>
              <option <%= creature.animalClass === "Reptile" ? "selected" : "" %> value="Reptile">Reptile</option>
              <option <%= creature.animalClass === "Bird" ? "selected" : "" %> value="Bird">Bird</option>
              <option <%= creature.animalClass === "Insect" ? "selected" : "" %> value="Insect">Insect</option>
              <option <%= creature.animalClass === "Amphibian" ? "selected" : "" %> value="Amphibian">Amphibian</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="size"><h2><%= creature.name %>'s size? </h2></td>
            <td><select name="size">
              <option <%= creature.size === "Extra Small" ? "selected" : "" %> value="Extra Small">Extra Small</option>
              <option <%= creature.size === "Small" ? "selected" : "" %> value="Small">Small</option>
              <option <%= creature.size === "Medium" ? "selected" : "" %> value="Medium">Medium</option>
              <option <%= creature.size === "Large" ? "selected" : "" %> value="Large">Large</option>
              <option <%= creature.size === "Extra Large" ? "selected" : "" %> value="Extra Large">Extra Large</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="habitat"><h2><%= creature.name %>'s habitat? </h2></td>
            <td><select name="habitat">
              <option <%= creature.habitat === "Forest" ? "selected" : "" %> value="Forest">Forest</option>
              <option <%= creature.habitat === "Ocean" ? "selected" : "" %> value="Ocean">Ocean</option>
              <option <%= creature.habitat === "Jungle" ? "selected" : "" %> value="Jungle">Jungle</option>
              <option <%= creature.habitat === "Grasslands" ? "selected" : "" %> value="Grasslands">Grasslands</option>
              <option <%= creature.habitat === "Tundra" ? "selected" : "" %> value="Tundra">Tundra</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="food"><h2><%= creature.name %>'s type? </h2></td>
            <td><select name="food">
              <option <%= creature.food === "Omnivore" ? "selected" : "" %> value="Omnivore">Omnivore</option>
              <option <%= creature.food === "Herbivore" ? "selected" : "" %> value="Herbivore">Herbivore</option>
              <option <%= creature.food === "Carnivore" ? "selected" : "" %> value="Carnivore">Carnivore</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="defense"><h2><%= creature.name %>'s main defense? </h2></td>
            <td><select name="defense">
              <option <%= creature.defense === "Spikes" ? "selected" : "" %> value="Spikes">Spikes</option>
              <option <%= creature.defense === "Claws" ? "selected" : "" %> value="Claws">Claws</option>
              <option <%= creature.defense === "Shell" ? "selected" : "" %> value="Shell">Shell</option>
              <option <%= creature.defense === "Poison" ? "selected" : "" %> value="Poison">Poison</option>
              <option <%= creature.defense === "Fangs" ? "selected" : "" %> value="Fangs">Fangs</option>
              <option <%= creature.defense === "Horns" ? "selected" : "" %> value="Horns">Horns</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="walking"><h2><%= creature.name %>'s way of walking? </h2></td>
            <td><select name="walking">
              <option <%= creature.walking === "Biped" ? "selected" : "" %> value="Biped">Biped</option>
              <option <%= creature.walking === "Quadruped" ? "selected" : "" %> value="Quadruped">Quadruped</option>
              <option <%= creature.walking === "Hexaped" ? "selected" : "" %> value="Hexaped">Hexaped</option>
              <option <%= creature.walking === "Octoped" ? "selected" : "" %> value="Octoped">Octoped</option>
              <option <%= creature.walking === "Myriapoda" ? "selected" : "" %> value="Myriapoda">Myriapoda</option>
              <option <%= creature.walking === "Limbless" ? "selected" : "" %> value="Limbless">Limbless</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="bodyCovering"><h2><%= creature.name %>'s body covering? </h2></td>
            <td><select name="bodyCovering">
              <option <%= creature.bodyCovering === "Feathers" ? "selected" : "" %> value="Feathers">Feathers</option>
              <option <%= creature.bodyCovering === "Thick Fur" ? "selected" : "" %> value="Thick Fur">Thick Fur</option>
              <option <%= creature.bodyCovering === "Thin Hair" ? "selected" : "" %> value="Thin Hair">Thin Hair</option>
              <option <%= creature.bodyCovering === "Scales" ? "selected" : "" %> value="Scales">Scales</option>
              <option <%= creature.bodyCovering === "Mucous" ? "selected" : "" %> value="Mucous">Mucous</option>
              <option <%= creature.bodyCovering === "Exoskeleton" ? "selected" : "" %> value="Exoskeleton">Exoskeleton</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="wings"><h2>Does <%= creature.name %> have wings?</h2></td>
            <td><select name="wings">
              <option <%= creature.wings === "No" ? "selected" : "" %> value="No">No</option>
              <option <%= creature.wings === "Yes" ? "selected" : "" %> value="Yes">Yes</option>
            </select></td>
          </label>
        </tr>
        <tr>
          <td><label for="flight"><h2>Can <%= creature.name %> fly? </h2></td>
            <td><select name="flight">
              <option <%= creature.flight === "No" ? "selected" : "" %> value="No">No</option>
              <option <%= creature.flight === "Yes" ? "selected" : "" %> value="Yes">Yes</option>
            </select></td>
          </label>
        </tr>
        <% if (creature.dragon) { %> 
        <tr>
          <td><label for="element"><h2>What element does <%= creature.name %> control?</h2></td>
            <td><select name="element">
              <option <%= creature.element === "Ice" ? "selected" : "" %> value="Ice">Ice</option>
              <option <%= creature.element === "Electricity" ? "selected" : "" %> value="Electricity">Electricity</option>
              <option <%= creature.element === "Fire" ? "selected" : "" %> value="Fire">Fire</option>
              <option <%= creature.element === "Water" ? "selected" : "" %> value="Water">Water</option>
              <option <%= creature.element === "Earth" ? "selected" : "" %> value="Earth">Earth</option>
              <option <%= creature.element === "Psychic" ? "selected" : "" %> value="Psychic">Psychic</option>
            </select></td>
          </label>
        </tr>
        <% } %> 
        <tr>
          <td><button type="submit" class="btn">Save Changes</button></td>
        </tr>
    </table>
    </form>
  <% } %> 
</main>

<%- include('../partials/footer') %>