<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (user) { %> 
    <h1>Edit <%= creature.name %></h1>
    <form action="/creatures/<%= creature.id %>?_method=PUT" method="POST">
      <label for="name"><%= creature.name %>'s name:
        <input type="text" name="name" value="<%= creature.name %>" autocomplete="off">
      </label>
      <label for="sciName"><%= creature.name %>'s scientific name:
        <input type="text" name="sciName" value="<%= creature.sciName %>" autocomplete="off">
      </label>
      <label for="animalClass"><%= creature.name %>'s class?
        <select name="animalClass">
          <option selected value="Mammal">Mammal</option>
          <option value="Reptile">Reptile</option>
          <option value="Bird">Bird</option>
          <option value="Insect">Insect</option>
          <option value="Amphibian">Amphibian</option>
        </select>
      </label>
      <label for="size"><%= creature.name %>'s size?
        <select name="size">
          <option selected value="Extra Small">Extra Small</option>
          <option value="Small">Small</option>
          <option value="Medium">Medium</option>
          <option value="Large">Large</option>
          <option value="Extra Large">Extra Large</option>
        </select>
      </label>
      <label for="habitat"><%= creature.name %>'s habitat?
        <select name="habitat">
          <option selected value="Forest">Forest</option>
          <option value="Ocean">Ocean</option>
          <option value="Jungle">Jungle</option>
          <option value="Grasslands">Grasslands</option>
          <option value="Tundra">Tundra</option>
        </select>
      </label>
      <label for="food"><%= creature.name %>'s type?
        <select name="food">
          <option selected value="Omnivore">Omnivore</option>
          <option value="Herbivore">Herbivore</option>
          <option value="Carnivore">Carnivore</option>
        </select>
      </label>
      <label for="defense"><%= creature.name %>'s main defense?
        <select name="defense">
          <option selected value="Spikes">Spikes</option>
          <option value="Claws">Claws</option>
          <option value="Shell">Shell</option>
          <option value="Poison">Poison</option>
          <option value="Fangs">Fangs</option>
          <option value="Horns">Horns</option>
        </select>
      </label>
      <label for="walking"><%= creature.name %>'s way of walking?
        <select name="walking">
          <option selected value="Biped">Biped</option>
          <option value="Quadruped">Quadruped</option>
          <option value="Hexaped">Hexaped</option>
          <option value="Octoped">Octoped</option>
          <option value="Myriapoda">Myriapoda</option>
          <option value="Limbless">Limbless</option>
        </select>
      </label>
      <label for="bodyCovering"><%= creature.name %>'s body covering?
        <select name="bodyCovering">
          <option selected value="Feathers">Feathers</option>
          <option value="Thick fur">Thick fur</option>
          <option value="Thin hair">Thin hair</option>
          <option value="Scales">Scales</option>
          <option value="Mucous">Mucous</option>
          <option value="Exoskeleton">Exoskeleton</option>
        </select>
      </label>
      <label for="wings">
        Does <%= creature.name %> have wings?
        <input type="checkbox" name="wings" <%= creature.wings ? "checked" : "" %>>
      </label>
      <label for="flight">
        Can <%= creature.name %> fly?
        <input type="checkbox" name="flight" <%= creature.flight ? "checked" : "" %> >
      </label>
      <% if (creature.dragon) { %> 
        <label for="element">What element does <%= creature.name %> control?
          <select name="element">
            <option selected value="Ice">Ice</option>
            <option value="Electricity">Electricity</option>
            <option value="Fire">Fire</option>
            <option value="Water">Water</option>
            <option value="Earth">Earth</option>
            <option value="Psychic">Psychic</option>
          </select>
        </label>
      <% } %> 
      <button type="submit">Save Changes</button>
    </form>
  <% } %> 
</main>

<%- include('../partials/footer') %>