<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1>Creature Info</h1>
  <section>
    <div>Name: </div>
    <div><%= creature.name %></div>
    <div>Scientific Name: </div>
    <div><%= creature.sciName %></div>
    <div>Class: </div>
    <div><%= creature.animalClass %></div>
    <div>Size: </div>
    <div><%= creature.size %></div>
    <div>Habitat:</div>
    <div><%= creature.habitat %></div>
    <div>Type: </div>
    <div><%= creature.food %></div>
    <div>Main Defense: </div>
    <div><%= creature.defense %></div>
    <div>How it Walks: </div>
    <div><%= creature.walking %></div>
    <div>Body Covering: </div>
    <div><%= creature.bodyCovering %></div>
    <div><%= creature.wings ? 'This creature has wings' : 'This creature does not have wings' %></div>
    <div><%= creature.flight ? 'This creature can fly' : 'This creature cannot fly' %></div>
    <div hidden>Element: </div>
    <div hidden><%= creature.element %></div>
    <ul>
</main>

<%- include('../partials/footer') %>