<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <h1><%= creature.name %>'s Info</h1>
  <section>
    <div>Name: </div>
    <div><%= creature.name %></div>
    <div>Scientific Name: </div>
    <div><%= creature.sciName %></div>
    <div>Class: </div>
    <div><%= creature.animalClass %></div>
    <div>Size: </div>
    <div><%= creature.size %></div>
    <div>Habitat:</div>
    <div><%= creature.habitat %></div>
    <div>Type: </div>
    <div><%= creature.food %></div>
    <div>Main Defense: </div>
    <div><%= creature.defense %></div>
    <div>How it Walks: </div>
    <div><%= creature.walking %></div>
    <div>Body Covering: </div>
    <div><%= creature.bodyCovering %></div>
    <div><%= creature.wings ? 'This creature has wings' : 'This creature does not have wings' %></div>
    <div><%= creature.flight ? 'This creature can fly' : 'This creature cannot fly' %></div>
    <div hidden>Element: </div>
    <div hidden><%= creature.element %></div>
    <ul>
    <% if (creature.owner.equals(user?.profile._id)) { %>
      <form action="/creatures/new" method="GET">
        <button class="btn" type="submit">Give <%= creature.name %> a sibling</button>
      </form>
      <form action="/creatures/<%= creature._id %>/edit" method="GET">
        <button class="btn" type="submit">Edit <%= creature.name %></button>
      </form>
      <form action="/creatures/<%= creature._id %>?_method=DELETE" method="POST">
        <button class="btn" type="submit">Delete <%= creature.name %></button>
      </form>
    <% } %>
</main>

<%- include('../partials/footer') %>